<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.html" />
                <add value="Default.asp" />
                <add value="Default.aspx" />
                <add value="Default.php" />
                <add value="Default.pl" />
                <add value="Default.cgi" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="index.asp" />
                <add value="index.aspx" />
                <add value="index.php" />
                <add value="index.pl" />
                <add value="index.cgi" />
                <add value="_holding.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <rule name="ir_domain" stopProcessing="true">
                    <match url="(.*)/{0,1}$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="(.*)cheltikkeh.ir" />
                    </conditions>
                    <action type="Redirect" url="http://cheltikkeh.com/" redirectType="Permanent" />
                </rule>
                <rule name="TokenPage" stopProcessing="true">
                    <match url="^token/(.[^/.]*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?token={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Page" stopProcessing="true">
                    <match url="^(.[^/.]*)/{0,1}$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Sub" stopProcessing="true">
                    <match url="^(.[^/.]*)/([^/.]*)/{0,1}$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?page={R:1}&amp;sub={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Token" stopProcessing="true">
                    <match url="^(.[^/.]*)/([^/.]*)/([^/.]*)/{0,1}$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?page={R:1}&amp;sub={R:2}&amp;token={R:3}" appendQueryString="true" />
                </rule>
                <rule name="404.1">
                    <match url="^.[^/.]*/[^/.]*/[^/.]*/[^/.]*/{0,1}$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?notfound=true" />
                </rule>
                <rule name="404.2">
                    <match url="^.[^/.]*/[^/.]*/[^/.]*/[^/.]*/[^/.]*/{0,1}$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?notfound=true" />
                </rule>
                <rule name="404.3">
                    <match url="^.[^/.]*/[^/.]*/[^/.]*/[^/.]*/[^/.]*/[^/.]*/{0,1}$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?notfound=true" />
                </rule>
            </rules>
        </rewrite>
		
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
