
body{
	margin: 0px;
	direction: rtl;
}
/* Fonts definitions */
@font-face{
	font-family:'soroosh';
    src:url('http://cheltikkeh.com/includes/fonts/BSoroosh.eot?#') format('embedded-opentype'),
		url('http://cheltikkeh.com/includes/fonts/BSoroosh.woff') format('woff'),
		url('http://cheltikkeh.com/includes/fonts/BSoroosh.ttf') format('truetype'); 
}
@font-face{
	font-family:'roya';
    src:url('http://cheltikkeh.com/includes/fonts/BRoya.eot?#') format('eot'),
		url('http://cheltikkeh.com/includes/fonts/BRoya.woff') format('woff'),
		url('http://cheltikkeh.com/includes/fonts/BRoya.ttf') format('truetype'); 
}
@font-face{
	font-family:'mitra';
    src:url('http://cheltikkeh.com/includes/fonts/BMitra.eot?#') format('eot'),
		url('http://cheltikkeh.com/includes/fonts/BMitra.woff') format('woff'),
		url('http://cheltikkeh.com/includes/fonts/BMitra.ttf') format('truetype'); 
}
@font-face{
	font-family:'nazanin';
    src:url('http://cheltikkeh.com/includes/fonts/BNazanin.eot?#') format('eot'),
		url('http://cheltikkeh.com/includes/fonts/BNazanin.woff') format('woff'),
		url('http://cheltikkeh.com/includes/fonts/BNazanin.ttf') format('truetype'); 
}
@font-face{
	font-family:'titr';
    src:url('http://cheltikkeh.com/includes/fonts/BTitr.eot?#') format('eot'),
		url('http://cheltikkeh.com/includes/fonts/BTitr.woff') format('woff'),
		url('http://cheltikkeh.com/includes/fonts/BTitr.ttf') format('truetype'); 
}

@font-face{
	font-family:'icon';
    src:url('http://cheltikkeh.com/includes/fonts/icon.eot?#') format('eot'),
		url('http://cheltikkeh.com/includes/fonts/icon.woff') format('woff'),
		url('http://cheltikkeh.com/includes/fonts/icon.ttf') format('truetype'); 
}
